<style>
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
</style>

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm">
          <h2 class="display-4">Welcome to OpenDataPDX!</h2>
          <p>Please log in or create an account to get started!</p>
        </div>
        <div class="col-sm">
          {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

          {% if next %}
            {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
            {% else %}
              <p>Please login to see this page.</p>
            {% endif %}
          {% endif %}

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% crispy form %}
            <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            <input type="submit" class="btn btn-outline-primary btn-sm btn-block" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" /><br>
            <p>Need an account?<a href="{% url 'register' %}"> Register.</a></p>
          </form>
        </div>
      </div>
    <div>
  </section>
{% endblock %}
