{% extends "base.html" %}

{% block content %}
<section style="margin-top: 3% !important; margin-bottom: 2.2% !important">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm">
                <h5 class="display-5">Password reset sent</h5>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
