[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.6"
