{% load staticfiles %}
{% load templatetags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}OpenDataPDX{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap_simple/css/one-page-wonder.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap_simple/css/sticky-footer.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% block css_content %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">OpenDataPDX</a>   <!--Links back to home page-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                {% nav_item request "/" "Home" %}
                {% nav_item request "/dashboard/" "Dashboard" %}
                {% nav_item request "/api/" "API" %}

                {% if user.is_superuser %}
                {% nav_item request "/utilities/" "Utilities" %}
                {% nav_item request "/admin/" "Admin" %}
                {% endif %}
            </ul>

                {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class ="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> Welcome  {{ user.get_short_name|title }} </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'logout'%}?next=/">Logout</a>
                  </div>
                </li>
            </ul>

                {% else %}
            <ul class="navbar-nav ml-auto">
                {% url 'login' as loginPath %}
                {% nav_item request loginPath "Login" %}
            </ul>
                {% endif %}
        </div>
    </nav>

    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer class="footer bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; OpenDataPDX 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block js_content %}{% endblock %}
</body>
</html>
