{% extends "base.html" %}
{% load staticfiles %}

{% block css_content %}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .panel-heading .accordion-toggle:after {
        /* symbol for "open" panels */
        content: "\25bc";
        float: left;
        margin-right:1em;
        }
        .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\25b6";
        margin-right:1em;
        }
        .accordion-toggle {
        color: inherit;
        }
        a.accordion-toggle:hover {
            color:#3b2c02;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container" style="max-width: 80%; margin-top: 30px; margin-bottom: 30px">
    <form name="datasetForm" id="datasetForm" method="POST" />{% csrf_token %}
        <div class="row mb-3">
            <div class="col-lg-6 text-left pl-0">
                <input class="span2" id="action_type" name="action_type" type="hidden">
                {% if messages %}
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for message in messages %}
                            {% if message.extra_tags %}
                                <div class="alert alert-warning" role="alert">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                                            <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                                {{ message }}
                                            </a>
                                        </div>
                                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
                                            <div class="panel-body">
                                                {{ message.extra_tags }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                    <div class="alert alert-warning" role="alert">
                                     {{ message }}
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="btn-group" id="action-button">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="$('#action_type').val('publish'); $('#datasetForm').submit()">Publish</a>
                        <a class="dropdown-item" href="#" onclick="$('#action_type').val('unpublish'); $('#datasetForm').submit()">Unpublish</a>
                        <a class="dropdown-item" href="#" onclick="$('#action_type').val('complete'); $('#datasetForm').submit()">Mark complete</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dashboard?export=export">Export as CSV</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" onclick="$('#action_type').val('delete'); $('#datasetForm').submit()">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-right pr-0">
                <a href="/new_dataset" class="btn btn-primary btn-x ml-2">Add Dataset <i class="fas fa-plus ml-1"></i></a>
                <a href="/import_dataset" class="btn btn-primary btn-x ml-2">Import Dataset <i class="fas fa-plus ml-1"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="datasetTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" value="" /></th>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Tags</th>
                            <th>Last Modified</th>
                            <th>Publisher</th>
                            <th>Contact Point</th>
                            <th>Access Level</th>
                            <th>Bureau Code</th>
                            <th>Program Code</th>
                            <th>License</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ds in datasets %}
                        {% if ds.complete %}<tr>{% else %}<tr class="table-warning">{% endif %}
                            <th><input type="checkbox" id="selected" name="selected" class="checkboxSelection" value="{{ ds.id }}" /></th>
                            <td><a href="/dataset/{{ ds.id }}">{{ ds.id }}</a></td>
                            <td>{{ ds.title }}</td>
                            <td>{{ ds.description }}</td>
                            <td>{% for keyword in ds.keyword.all %}{{ keyword }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{{ ds.modified }}</td>
                            <td>{{ ds.publisher }}</td>
                            <td>{{ ds.publisher.email }}</td>
                            <td>{{ ds.accessLevel }}</td>
                            <td>{% for bureau in ds.bureauCode.all %}{{ bureau.description }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{% for division in ds.programCode.all %}{{ division.description }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{{ ds.license }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<br>
{% endblock %}

{% block js_content %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
