{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <header class="masthead text-center text-white" style="background-image: url('{% static "img/data-2.jpg" %}')">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">OpenDataPDX</h1>
          <h2 class="masthead-subheading mb-0">Let data serve the city</h2>
          {% if not request.user.is_authenticated %}
          <a href="/register" class="btn btn-primary btn-x">Create Account</a>
          {% endif %}
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="static/img/data.jpg" alt="data">
            </div>
          </div>
          <div class="col-lg-8 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">What is OpenDataPDX?</h2>
              <p>Currently, data that is gathered by Portland’s various bureaus (traffic sensor data, crime data, environmental data, etc) is stored in disparate sources and has varying formats.
              By creating metadata that has a consistent format, datasets can be stored and examined systematically. Much of this data will also be made available to the public for analysis and the improvement of the city.
              <br><br><b>Our web application will serve as the entrypoint for new datasets into an upcoming open data infrastructure.</b></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4">
            <div class="p-5">
              <img class="img-fluid" src="static/img/data-4.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-8">
            <div class="p-5">
              <h2 class="display-4">Getting Started</h2>
              <p>To get started, <a href="/accounts/login/">log in</a> or <a href="/register/">sign up</a><br>
                <a href="/new_dataset/">Add</a> or <a href="/import_dataset/">import</a> a supported dataset (.csv, .xlsx, and .json).<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="static/img/data-5.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-8 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Additional Resources</h2>
              <p><a href="https://project-open-data.cio.gov/" target="_blank">Project Open Data</a><br>
                <a href="https://www.smartcitypdx.com/" target="_blank">Smart City PDX</a><br>
                <a href="https://www.smartcitypdx.com/open-data-program" target="_blank">Open Data Program</a><br>
                <a href="https://www.smartcitypdx.com/portland-urban-data-lake-pudl" target="_blank">Portland Urban Data Lake (PUDL)</a><br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
