{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create your OpenDataPDX Account{% endblock %}

{% block content %}
  <section style="margin-top: 3% !important; margin-bottom: 2.2% !important">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm">
          <h2 class="display-4">Welcome to OpenDataPDX!</h2>
              <p><b>Please create an account to get started!</b></p>
        </div>
        <div class="col-sm">
          {% if form.errors %}
            <p>Something went wrong. Please try again.</p>
          {% endif %}

          {% if next %}
            {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
            {% else %}
              <p>Please login to see this page.</p>
            {% endif %}
          {% endif %}

          <form method="post" id="registrationForm" action="{% url 'register' %}" data-divisions-url="{% url 'ajax_load_divisions' %}" data-offices-url="{% url 'ajax_load_offices' %}" novalidate>
            {% crispy form %}
            <br><p>Already have an account?<a href="{% url 'login' %}"> Log In</a></p><br>
          </form>
          
          <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
          
          <script>
            $("#id_bureau").change(function () {
              var url = $("#registrationForm").attr("data-divisions-url");  // get the url of the `load_divisions` view
              var bureauId = $(this).val();  // get the selected bureau ID from the HTML input

              $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/ajax/load-divisions/)
                data: {
                  'bureau': bureauId       // add the bureau id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_divisions` view function
                  $("#id_division").html(data);  // replace the contents of the division input with the data that came from the server
                  $("#id_office").html('<option value="">---------</option>');  // replace the contents of the office input with an empty list
                }
              });
            });
          </script>
          
          <script>
            $("#id_division").change(function () {
              var url = $("#registrationForm").attr("data-offices-url");  // get the url of the `load_offices` view
              var divisionId = $(this).val();  // get the selected division ID from the HTML input

              $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/ajax/load-offices/)
                data: {
                  'division': divisionId       // add the division id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_offices` view function
                  $("#id_office").html(data);  // replace the contents of the office input with the data that came from the server
                }
              });
            });
          </script>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
