{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <section>
    <div class="container">
      {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
      {% endif %}
      <div class="row align-items-center">
        <div class="p-5">
          <h2 class="display-4">Import Bureau Codes</h2>
          <p>Import bureau codes into the database</p>
          {% if bureaucodes_form.errors %}
          <p> {{ bureaucodes_form.errors.file }}</p>
          {% endif %}
          <form method="post" action="/utilities/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ bureaucodes_form|crispy }}
            <input type="submit" name="import-bureaus" class="btn btn-success" value="Import">
          </form>
        </div>
        <div class="p-5">
          <h2 class="display-4">Delete Bureau Codes</h2>
              <p>Remove bureau codes from the database</p>
          <form method="post" action="/utilities/">
            {% csrf_token %}
            <input type="submit" name="delete-bureaus" class="btn btn-danger" value="Delete">
          </form>
        </div>
        <div class="p-5">
          <h2 class="display-4">Import Datasets</h2>
          <p>Import datasets into the database</p>
          {% if datasets_form.errors %}
          <p> {{ datasets_form.errors.file }}</p>
          {% endif %}
          <form method="post" action="/utilities/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ datasets_form|crispy }}
            <input type="submit" name="import-datasets" class="btn btn-success" value="Import">
          </form>
        </div>
        <div class="p-5">
          <h2 class="display-4">Import Languages</h2>
              <p>Import languages into the database</p>
          <form method="post" action="/utilities/">
            {% csrf_token %}
            <input type="submit" name="import-languages" class="btn btn-success" value="Import">
          </form>
        </div>
        <div class="row align-items-center">
        <div class="p-5">
          <h2 class="display-4">Import Keywords/Taxonomies</h2>
          <p>Import keywords into the database</p>
          <p>This utility expects keywords to be in an Excel file like the one defined here: https://data.nist.gov/od/id/691DDF3315711C14E0532457068146BE1907</p>
          {% if bureaucodes_form.errors %}
          <p> {{ keywords_form.errors.file }}</p>
          {% endif %}
          <form method="post" action="/utilities/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ keywords_form|crispy }}
            <input type="submit" name="import-keywords" class="btn btn-success" value="Import">
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
